*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  background:rgb(243, 242, 242);
}
.gal-container {
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows:auto;
  grid-auto-flow: row;
  gap:30px;
  padding:20px;
}

.imgCont {
  width:200px;
  height:auto;
  background-color: #fff;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor:pointer;
  align-self:center;
  justify-self:center;
}

.figCont {
  width:100%;
  height:auto;
  position:relative;
}

.figCaption{
  height:24px;
  font-size:16px;
  display:flex;
  justify-content: center;
  align-items: center;
  color:#023f05f1;
}

.gal-piz {
  width:100%;
  height:auto;
  display:block;
  border-top-left-radius: 10px;
}
.social {
  flex-direction:row;
  width:90%;
  align-items: center;
  justify-content: space-around;
  height:auto;
  margin-bottom:20px;
}
.social-link {
  color:black;
}


@media screen and (max-width:768px) {
  .social {
    flex-direction:column;
    width:50%;
    align-items: space-around;
    height:auto;
    justify-content: flex-start;
    height:auto;
    margin-bottom:20px;
    margin-top:20px;
  }
}