
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

#banner {
  background:url("images/banner-bg.jpg") no-repeat;
  background-attachment: fixed;
  height:100vh;
  width:100%;
  background-size:cover;
}

.overlay {
  background-color: rgba(4, 9, 30, 0.7);
  height:100vh;
  width:100%;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
}

.contact-nav {
  position:absolute;
  top:0;
  display: flex;
  align-items: center;
  flex-direction:column;
  width:100%;
}

.banner-contact {
  display:flex;
  justify-content: space-between;
  height:5vh;
  color:white;
  width:95%;
}

.navbar-cont {
  width:950px;
  height:10vh;
  display:flex;
  justify-content: space-around;
  align-items:center;
  position:sticky;
  background-color:white;
}
.logo {
  height:100%;
  width:10vh;
}
.logo-image {
  width:100%;
  height:auto;
  display:block;
}
.navbar {
  display:flex;
  width:30vw;
  align-items:center;
  justify-content: space-between;
  list-style: none;
}

.nav-link {
  text-decoration:none;
  color:rgba(4, 99, 8, 0.849);
  font-size:1.3rem;
}

.burger {
  display:none;
}

.line1, .line3{
  width:25px;
  height:3px;
  background-color:#023f05f1;
  margin:5px;
  transition:all 0.3s ease;
}

.line2{
  width:20px;
  height:3px;
  background-color:#023f05f1;
  margin:5px;
  transition:all 0.3s ease;
}


@media screen and (max-width:1024px){
  .nav-link{
    width:40%;
  }
  .navbar-cont{
    width:100%;
  }
}

@media screen and (max-width:768px){

  body{
    overflow-x: hidden;
  }
  
  .navbar{
    position:absolute;
    right:0px;
    height:88vh;
    top:8vh;
    background-color:rgb(234, 235, 238);
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: flex-start;
    width:100%;
    margin-block-start: 0px;
    margin-block-end: 0px;
    transform:translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .navbar li {
    opacity:0;
    margin-top:40px;
    border-bottom:1px solid #fff;
    width:100%;
    text-align:center;
    text-justify:center;
  }
  .nav-link {
    color:#023f05f1;
    font-size:1.3rem;
    font-weight: 600;
  }
  .burger{
    display:block;
    cursor:pointer;
    background-color:rgb(250, 193, 6);
    padding:6px 6px;
    position:relative;
    right:20px;
  }

  .navbar-cont {
    background-color:transparent;
    justify-content: space-between;
  }

  .logo {
    position:relative;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
  }
}

.nav-active {
  transform:translateX(0%);
}

@keyframes navLinkFade{
  from{
    opacity:0;
    transform:translateX(50px);
  }
  to{
    opacity:1;
    transform:translateX(0px);
  }
}

.toggle .line1{
  transform:rotate(-45deg) translate(-5px,6px)
}
.toggle .line2{
  opacity:0;
}
.toggle .line3{
  transform:rotate(45deg) translate(-5px,-6px)
}

.intro {
  height:85vh;
  width:100%;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content: center;
  color:white;
}

.intro-btn {
  border-radius:6px;
  font-size:1.5rem;
  padding:6px;
  background-color: rgb(250, 193, 6);
  color:#023f05f1;
  width:350px;
  height:4rem;
  margin-right:10px;
  font-weight:bold;
  border:none;
  text-transform: uppercase;
}

.intro-content{
  width:95%;
  height:70%;
  display:flex;
  flex-direction:column;
  justify-content: space-around;
  align-items: center;
}

.business-name {
  font-size:5rem;
  font-weight:600;
  text-align:center;
}

.products {
  width:100%;
  margin-top:0;
  position: relative;
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  background-color:#fff;
}

.category {
  display:flex;
  width:100%;
  height:90%;
  align-items: center;
  justify-content: center;
}

.lists {
  position:relative;
  width:50%;
  padding-left:150px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size:1.5rem;
}

.cat-list {
  line-height:2rem;
  color:#000;
}

.cat-images {
  width:50%;
  display:grid;
  padding:10px;
  grid-template-columns: repeat(9, 40px);
  grid-template-rows:repeat(9, 40px);
  grid-gap:15px;
  transition:0.8s ease-in;
}

.img {
  display:block;
  height:100%;
  width:100%;
  object-fit:cover;
}

.cat-fig:hover {
  transform: scale(1.05);
}

.cat-fig1 {
  grid-column-start: 1;
  grid-column-end:6;
  grid-row-start:1;
  grid-row-end:6;
}

.cat-fig2 {
  grid-column-start:1;
  grid-column-end:6;
  grid-row-start:6;
  grid-row-end:10;
}

.cat-fig3 {
  grid-column-start:6;
  grid-column-end:10;
  grid-row-start:1;
  grid-row-end:4;
}

.cat-fig4 {
  grid-column-start:6;
  grid-column-end:10;
  grid-row-start:4;
  grid-row-end:7;
}

.cat-fig5 {
  grid-column-start:6;
  grid-column-end:10;
  grid-row-start:7;
  grid-row-end:10;
}

@media screen and (max-width:975px) {
  .cat-images {
    width:50%;
    display:grid;
    padding:10px;
    grid-template-columns: repeat(9, 30px);
    grid-template-rows:repeat(9, 30px);
    grid-gap:15px;
  }
}

.products h2 {
  font-weight:bold;
  font-size:2.5rem;
  text-transform: uppercase;
  color:#023f05f1;
  padding-top:40px;
}

@media screen and (max-width:768px) {
  .category {
    flex-direction:column;
    align-items:center;
    justify-content: space-between;
  }

  .cat-images, .lists {
    width:100%;
  }

  .lists {
    height:45%;
    padding-left:40px;
    font-size:1rem;
  }

  .cat-images {
    margin:0 auto;
    display:grid;
    padding:10px;
    grid-template-columns: repeat(9, 25px);
    grid-template-rows:repeat(9, 25px);
    grid-gap:10px;
    height:60%;
    align-items:space-around;
    justify-content:center;
  }
  .cat-list {
    line-height:1.5rem;
  }

  .products h2{
    font-size:1.8rem;
    text-align:center;
    padding-top:0;
  }
}



.motto {
  font-size:1.5rem;
  text-transform:capitalize;
}

@media screen and (max-width:768px) {
  .business-name {
    font-size:2.5rem;
  }
  .motto {
    font-size:1.3rem;
  }

  .overlay-product{
    height:80vh;
    width:100%;
  }
}

.cat-image {
  width:100%;
  height:auto;
  display:block;
}

.bio {
  font-size:2rem;
  height:100px;
  line-height: 150px;
  text-transform:uppercase;
  font-weight:bold;
  letter-spacing:5px;
  color: #023f05f1;
}

.about {
  height:100vh;
  width:100%;
  background-color:#fff;
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: space-around;
}

.about-sep {
  display: flex;
  height:90%;
}

.right, .left {
  width:50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arti {
  width:80%;
  text-align:justify;
  font-size:1.3rem;
  line-height:2rem;
}

.arti-btn {
  border-radius:6px;
  padding:3px;
  background-color: rgb(250, 193, 6);
  color:#023f05f1;
  width:300px;
  margin-right:10px;
  font-weight:bold;
  height:4rem;
  font-size:1.3rem;
  text-transform:uppercase;
  border:none;
  display:block;
  margin:10px auto;
}

.rightImg-cont {
  width:80%;
}

.appear {
  display:none;
}

@media screen and (max-width:1240px) {
  .rightImg-cont {
    width:95%;
  }
  .disappear {
    display:none;
  }
  .appear {
    display:block;
  }

  .arti {
    line-height:2rem;
  }

}
.right-img {
  display: block;
  width:100%;
  height:auto;
}

@media screen and (max-width:768px) {
  .about {
    height:100vh;
    justify-content: center;
  }

  .bio {
    line-height:50px;
    height:60px;
  }

  .rightImg-cont {
    width:60%;
    padding-bottom:20px;
  }
  
  .about-sep {
    flex-direction:column;
    justify-content: space-around;
    height:90%;
    width:95%;
  }

  .disappear {
    display:none;
  }

  .appear {
    display:block;
  }

  .right, .left {
    width:100%;
  }

  .arti {
    font-size:1rem;
    line-height:1.5rem;
    width:95%;
  }
  .arti-btn {
    margin-top:20px;
  }
}


.remark-cont {
  width:100%;
  height:90vh;
  background-color:#fff;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  transition:2s ease-in;
}

.remark-lower {
  width:100%;
  height:70vh;
  display:flex;
  justify-content: center;
  align-items: center;
}

.remark {
  width:1000px;
  height:70vh;
  display:flex;
  flex-direction:column;
  background-color:rgba(185, 182, 182, 0.5);
  border-radius:5px;
  box-shadow:0px 10px 15px rgb(24, 23, 23);
}

.remark-tit {
  text-transform:capitalize;
  font-size:1rem;
  text-align:center;
  padding-bottom:15px;
  color:#023f05f1;
}

.next, .prev {
  width:50px;
  height:50px;
  background-color:rgba(136, 133, 133, 0.5);
  display:flex;
  justify-content: center;
  align-items:center;
  font-size: 1.5rem;
  cursor:pointer;
}

.image-cont {
  align-self: center;
  display:flex;
  align-items:center;
  justify-content:flex-start;
  width:80%;
  height:30%;
}

.image {
  width:12%;
  height:50%;
  display:flex;
  align-items: center;
  justify-content: center;
}

.remarks-img {
  height:auto;
  width:100%;
  display:block;
  border:5px solid rgb(250, 193, 6);
}

.name {
  display:flex;
  align-items: center;
  justify-content: center;
  background-color:rgb(250, 193, 6);
}

.name-text {
  font-size:1.3rem;
  font-weight:600;
  padding:3px;
}

.text-cont {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align:center;
  text-justify: center;
  align-self:center;
  width:90%;
  padding:5px;
  height:70%;
  font-size:1.5rem;
}

@media screen and (max-width:768px) {
  .remark {
    width:95%;
    height:50vh;
  }

  .remark-cont {
    height:100vh;
  }
  .image-cont{
    width:95%;
  }
  .text-cont {
    width:95%;
    font-size:1.2rem;
  }

  .image {
    width:20%;
  }
  .remark-tit {
    padding-top:60px;
  }
}

.footer {
  background-color:rgb(62, 46, 68);
  height:25vh;
  display:flex;
  color:#fff;
  align-items:center;
  justify-content: space-around;
  font-size:1.3rem;
}

.logo-footer, .newsletter, .social {
  width:33.3%;
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
}

.social {
  list-style: none;
  align-items:center;
  padding-left:10px;
}

.social-link {
  color:#fff;
  text-decoration:none;
}
.i {
  margin-right:30px;
}

.social-list {
  margin-top:10px;
}

.logo-footer {
  height:15vh;
}
.footer-img {
  height:80%;
}
.logo-footer p {
  text-align:center;
}

.footer-logo {
  width:12vh;
  height:auto;
  display:block;
}

.btn, .form-input {
  height:50px;
  border:none;
  font-size:1.1rem;
  width:30vw;
  display:block;
  margin:10px auto;
  border-radius:6px;
}

.btn {
  padding:6px;
  background-color: rgb(250, 193, 6);
  color:#023f05f1;
  margin-right:10px;
  font-weight:bold;
}

.form-input {
  margin: 5px 10px;
  padding:10px;
}

@media screen and (max-width:768px) {
  .footer {
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
    height:110vh;
    width:100%;
    font-size:1.2rem;
    color:#000;
    background-color:#fff;
  }
  .logo-footer, .newsletter, .social{
    width:90%;
    height:30vh;
    background-color:white;
    border-radius:6px;
    box-shadow:0px 8px 15px #444;
  }

  .social-link {
    color:#000;
  }

  .logo-footer {
    justify-content: center;
  }
  .footer-img {
    height:50%;
  }

  .news-form {
    width:80%;
  }
  .form-input {
    width:90%;
    display:block;
    margin:10px auto;
    height:50px;
    background-color:rgb(228, 222, 222);
  }

  .btn {
    width:90%;
    display:block;
    margin:10px auto;
    height:50px;
  }
}

.return {
  position:fixed;
  display:block;
  bottom:100px;
  right:80px;
  width:100px;
  border:none;
  color:#023f05f1;
  height:100px;
  border-radius:50%;
  font-size:3rem;
  background-color:#fac106;
  z-index:999;
  font-weight:600;
}

@media screen and (max-width:768px) {
  .return {
    height:50px;
    width:50px;
    left:20px;
    bottom:20px;
    font-size:1.5rem;
  }
}
